<% provide(:title, 'New Channel!') %> 

  <div class="row">
    <div class = "col-md-6 col-md-offset-3">
        <h1>Your channel has been created!</h1>
      <button type="button"  class: "btn btn-primary" ><%= link_to "Join a channel!", join_channel_path %></button>
    </div>
  </div>
