<!DOCTYPE html>
<html lang="en">
<head>
  <title>Current Channel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app/stylesheets/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1><%= @channel_owner.cname %></h1>
    <p></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Sub-category</th>
          <th>Item code</th>
          <th>Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</body>