<% @title="tamchiak | Forgot Password" %>

<body>
  <div class="container">
    <div class="col-md-10 col-md-offset-1">

      <h1>Forgot password</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= form_for(:password_reset, url: password_resets_path) do |f| %>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.submit "Submit", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
