<!DOCTYPE html>
<html>
  <head>
    <title>Tamchiak</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- NAVIGATION BAR -->
    <%= render 'layouts/header' %>

    <!-- CONTENT -->
    <div class="container well">
      <div class="center" align="center">
        <div class="row">
          <p>
          <h1>About tamchiak</h1>
        </p>

      </div>
    </div>
    </div>
  </div>
</body>
</html>