<% @title="tamchiak | All users" %>

<body>
  <!-- NAVIGATION BAR -->
  <%= render 'layouts/header_admin' %>
  <% if current_user.is_admin? %>
  <!-- CONTENT -->
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>        
      </thead>
      <tbody>
        <% @users.each do |t| %>
        <p>
          <tr>
            <td><%= t.name %></td>
            <td><%= t.email %></td>
            <td><%= link_to 'Delete', t, :method => :delete %></td>
          </tr>
        </p>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
  <% else %>
  <div class="container">
    <h1>Your current account does not have admin privileges! </h1>
  </div>
  <% end %>
</body>
