<% @title="tamchiak | Admin" %>

<body>

  <!-- NAVIGATION BAR -->
  <%= render 'layouts/header_admin' %>

  <!-- CONTENT -->
  <div class="container well">
    <div class="center" align="center">
      <div class="row">
        <p>
        <h1>Hello, admin <%= current_user.name %>!</h1>
        </p>   
      <p>
        <%= link_to "All Channels", admin_channels_path, {class: "btn btn-primary btn-lg", data: { no_turbolink: true }} %>
        <%= link_to "All Users", admin_users_path, {class: "btn btn-default btn-lg", data: { no_turbolink: true }} %> 
      </p>

    </div>
  </div>
  </div>
</div>
</body>
