<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All Users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
  </head>

  <body>
    <!-- NAVIGATION BAR -->
    <%= render 'layouts/header_admin' %>

    <!-- CONTENT -->
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
          </tr>        
        </thead>
        <tbody>
          <% @users.each do |t| %>
          <p>
            <tr>
              <td><%= t.name %></td>
              <td><%= t.email %></td>
              <td><%= link_to 'Delete', t, :method => :delete %></td>
            </tr>
          </p>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>