
<% provide(:title, 'Options') %> 

  <div class="row">
    <div class = "col-md-6 col-md-offset-3">
        <h1>What do you want to do?</h1>
      <p class="pull-left"><%= link_to "Create a channel!", create_channel_path %></p>
      <p class="pull-left"><%= link_to "Join a channel!", join_channel_path %></p>
    </div>
  </div>
