<% if !@order.nil? && @order.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
